@use 'variables' as *;
@use 'mixin' as *;
@use 'functions' as *;

:root {
  // カラー変数
  --text: #{$text-black};
  
  // フォントサイズ変数
  --text-16: #{prem(16)};
  --text-18: #{prem(18)};
  --text-20: #{prem(20)};
  --text-32: #{prem(32)};
  
  // フォントウェイト変数
  --regular: #{$regular};
  --bold: #{$bold};
}

html {
  @if $break-flg == 0 {
    @media (width <= 375px) {
      font-size: vw(375, strip-unit($base-font-size));
    }

    font-size: $base-font-size;

    @include mq("md") {
      font-size: vw(strip-unit($inner), strip-unit($base-font-size));
    }

    @media (min-width: $inner) {
      font-size: $base-font-size;
    }
  } @else{
    font-size: $base-font-size;

    @media (max-width: $inner) {
      font-size: vw(strip-unit($inner), strip-unit($base-font-size));
    }

    @include mq("md") {
      font-size: $base-font-size;
    }

    @media (width <= 375px) {
      font-size: vw(375, strip-unit($base-font-size));
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-r;
  color: $black;
  overflow-x: hidden;

  // メニュー開いている時はスクロール禁止
  &.no-scroll {
    overflow: hidden;
  }
}

// 英語テキストに適用
.en,
[lang="en"] {
  font-family: $font-family-en;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
}

a:hover {
  @if $break-flg == 0 {
    @include mq("md") {
      opacity: 0.8;
    }
  } @else {
    opacity: 0.8;

    @include mq("md") {
      opacity: 1;
    }
  }
}
