@use '../../foundation' as *;

.c-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 344.35px;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 43.65px;
  font-size: 18px;
  font-weight: $font-weight-b;
  text-align: center;
  color: $text-black;
  transition: opacity 0.3s ease;

  @media (width <= 375px) {
    max-width: prem(344.35);
    padding: prem(30) prem(24);
    border-radius: prem(43.65);
    font-size: prem(18);
}

  &:hover {
    opacity: 0.8;
  }

  span {
  font-size: 20px;
    font-weight: $font-weight-b;
    color: $text-black;

    @media (width <= 375px) {
      font-size: prem(20);
    }
  }
}

.c-button-orenge {
  .c-button {
    color: $white;
  background-color: $main-orange;

    span {
      color: $white;
    }

    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin-left: auto;
      background-image: url('/assets/images/common/arrow-orange.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';

      @media (width <= 375px) {
        width: prem(32);
        height: prem(32);
        margin-left: clamp(prem(24), 18.6%, prem(64));
      }
    }
  }
}

.c-button-green {
  .c-button {
    width: 100%;
    max-width: 298px;
    margin: 0 auto;
    padding: 13px 24px;
    font-size: 14px;
    font-weight: $font-weight-r;
    text-align: left;
    color: $main-green;
    background-color: #fff;

    @media (width <= 375px) {
      max-width: prem(300);
      padding: prem(13) prem(24);
      font-size: prem(14);
    }

    span {
      color: $white;
    }

    &::after {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-left: auto;
      background-image: url('/assets/images/common/arrow-green.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';

      @media (width <= 375px) {
        width: prem(32);
        height: prem(32);
        margin-left: clamp(prem(24), 18.6%, prem(64));
      }
    }
  }
}