@use '../../foundation' as *;

.c-section-title {
  font-size: prem(32);
  font-weight: $medium;
  line-height: 1.6;
  color: $text-brown;

  @include mq("md") {
    font-size: 5vw;
  }

  @include mq("sm") {
    font-size: 6.4vw;
  }
} 