@use '../../foundation' as *;

.c-section-title {
  font-size: 32px;
  font-weight: $medium;
  line-height: 1.6;

  @media (width <= 375px) {
    font-size: prem(32);
  }

  @include mq("md") {
    font-size: 5vw;
  }

  @include mq("sm") {
    font-size: 6.4vw;
  }
} 