@use '../../foundation' as *;

/* ヘッダー全体の共通スタイル */
.header {
  position: fixed;
  top: 0;
  z-index: 5000;
  width: 100%;
  height: prem(120);
  background-color: $bg-beige;

  @include mq("md") {
    height: prem(80);
  }

  @include mq("sm") {
    height: prem(60);
  }
}