@use '../../foundation' as *;

/* ヘッダー全体の共通スタイル */
.header {
  position: fixed;
  top: 0;
  z-index: 5000;
  width: 100%;
  height: prem(120);
  background-color: $bg-beige;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: prem(1200);
  height: inherit;
  padding: 0 prem(58);

  @include mq("md") {
    padding: 0 prem(20);
  }
}

/* ヘッダーのスクロール時共通スタイル */
.js-header {
  opacity: 0.95;
  transition: background-color 0.5s ease, opacity 0.5s ease, clip-path 0.5s ease;
}

.js-header.is-active {
  opacity: 1;
}

/* ロゴの共通スタイル */
.header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

/* ロゴ内のリンクの共通スタイル */
.header__logo a {
  display: block;
  width: 100%;
  height: auto;
  padding: prem(15) 0;
}

/* ロゴ画像の共通スタイル */
.header__logo-img {
  max-width: prem(275);

  @include mq("lg") {
    max-width: prem(180);
  }
}

.header__logo-img.is-scroll {
  margin: 0 0 0 10%;
  padding: 0;

  @include mq("lg") {
    padding: 0 prem(25) 0 0;
  }
}

/* ナビゲーションのスタイル */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: prem(730);
  height: 100%;

  @include mq("md") {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  position: relative;
  height: inherit;
  padding: 0 calc(1% + prem(2));
}

.header__nav-item a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: prem(17);
  color: $color-black;
  overflow: hidden;
  transition: color 0.3s ease;

  &::after {
    position: absolute;
    bottom: prem(13);
    left: 50%;
    width: 0;
    height: 3px;
    background-color: currentcolor;
    transition: width 0.4s ease, left 0.3s ease;
    transform: all 0.3s;
    content: '';
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}

.header__nav-item--contact a::after {
  display: none;
}

.header__nav-item--contact a:hover {
  background-color: #CC8400;
}

/* お問合せボタンのスタイル */
.header__nav-item.header__nav-item--contact {
  width: prem(210);
  height: auto;
}

.header__nav-item--contact a {
  display: flex;
  gap: 20px;
  padding: prem(10) prem(20);
  border-radius: prem(24);
  color: white;
  background-color: #F58031;
  transition: background-color 0.5s ease;
}


.button__icon.button__icon--header {
  width: prem(7);
  height: auto;
  transition: transform 0.5s ease-out;
}

.header .header__nav-item--contact a:hover {
  background-color: #FF5E00;
}

.header__nav-item--contact a:hover .button__icon--header {
  transform: translateX(10px);
}

/* ハンバーガーメニュー */
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
  display: block;
  width: prem(82);
  height: inherit;
  background-color: $bg-green;
  cursor: pointer;

  // 768px以上で非表示
  @media (width >= 768px) {
    display: none;
  }
}

/* ハンバーガーの各線 */
.hamburger span {
  position: absolute;
  left: prem(24);
  display: inline-block;
  width: prem(35);
  height: prem(3);
  background-color: $color-white;
  transition: all 0.5s ease;
}

/* 上の線 */
.hamburger span:first-child {
  top: prem(30);
}

/* 真ん中の線 */
.hamburger span:nth-child(2) {
  top: prem(42);
}

/* 下の線 */
.hamburger span:nth-child(3) {
  top: prem(54);
}

/* アクティブ時の変化 */
.js-hamburger.is-active span:first-child {
  top: prem(41);
  animation: ham_btn_span01_active 0.75s forwards;
}

.js-hamburger.is-active span:nth-child(2) {
  opacity: 0;
  animation: ham_btn_span02_active 0.75s forwards;
}

.js-hamburger.is-active span:nth-child(3) {
  top: prem(41);
  animation: ham_btn_span03_active 0.75s forwards;
}

/* 非アクティブ時（元に戻る） */
.js-hamburger:not(.is-active) span:first-child {
  animation: ham_btn_span01_reverse 0.75s forwards;
}

.js-hamburger:not(.is-active) span:nth-child(2) {
  animation: ham_btn_span02_reverse 0.75s forwards;
}

.js-hamburger:not(.is-active) span:nth-child(3) {
  animation: ham_btn_span03_reverse 0.75s forwards;
}

/* 上の線のアニメーション */
@keyframes ham_btn_span01_active {
  0% {
    opacity: 1;
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes ham_btn_span01_reverse {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: translateY(prem(14)) rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

/* 真ん中の線のアニメーション */
@keyframes ham_btn_span02_active {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ham_btn_span02_reverse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 下の線のアニメーション */
@keyframes ham_btn_span03_active {
  0% {
    opacity: 1;
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes ham_btn_span03_reverse {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: translateY(prem(-14)) rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

/* オーバーレイのスタイル */
.js-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity .6s, visibility .6s;
}

.js-overlay.is-active {
  // opacity: .8;
  visibility: visible;
}

/* ドロワーメニュー */
// .drawer-menu {
//   display: none;
//   position: fixed;
//   z-index: 9998;
//   width: 100%;
//   height: 100vh;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: $bg-green;
//   padding: prem(100) 0;
//   overflow-y: auto;
// }

.drawer-menu,
.js-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 9999;
  display: block;
  width: 60%;
  height: 100%;
  background-color: $bg-beige;
  opacity: 1;
  transition: right 0.8s ease;
}

.js-header .drawer-menu,
.js-header .js-drawer {
  opacity: 1;
}

.drawer-menu.is-active {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity .6s, visibility .6s;
}

.overlay.is-active {
  opacity: .8;
  visibility: visible;
}


// .drawer-menu::-webkit-scrollbar {
//   display: none;
// }

.drawer-menu__inner {
  position: relative;
  max-width: prem(440);
  margin: 0 auto;
  padding: prem(100) prem(30);

  @include mq("sm") {
    max-width: prem(300);
  }
}

.drawer-logo {
  position: fixed;
  top: prem(45);
  left: prem(20);
  z-index: 9999;
  background-color: $color-white;
}

.drawer-logo img {
  width: 40%;
  min-width: prem(200);

  /* ロゴのサイズを調整 */
  max-width: prem(300);
  height: prem(80);
}

.drawer__nav-item {
  display: inline-block;
  width: 100%;
  padding: prem(40) 0 prem(15) prem(42);
  font-size: prem(22);
  letter-spacing: 0.05em;
  color: $color-black;

  @include mq("sm") {
    padding: prem(30) 0 prem(15) prem(32);
  }
}

.drawer__nav-item:not(:last-child) {
  border-bottom: 2px dashed $bg-green;
}

.drawer-item a {
  font-weight: $bold;
  color: $color-black;
}

.drawer__nav-item.drawer__nav-item--contact,
.drawer__nav-item.drawer__nav-item--tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: prem(50) auto 0;
  padding: prem(20);
  border-radius: prem(13);
  text-align: center;
}

.drawer__nav-item.drawer__nav-item--contact {
  background-color: $bg-green;
}

.drawer__nav-item.drawer__nav-item--tel {
  background-color: $title-orange;
}

.drawer__nav-item.drawer__nav-item--contact a,
.drawer__nav-item.drawer__nav-item--tel a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: prem(20);
  text-align: center;
  color: #fff;
}

/* 他のアイテムも同様に設定 */

.drawer-item__button {
  display: block;
  max-width: prem(300);
  margin: prem(40) auto 0;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #46B036;
  transition: background-color 0.3s;

  &:hover {
    background-color: #76c7a1;
  }
}

.drawer-item__button span {
  font-size: prem(25);
  font-weight: $bold;
}

.drawer-item__button p {
  margin: 0;
  font-size: prem(16);
  font-weight: $bold;
}