@use '../foundation' as *;

// ヘッダーレイアウト
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  background-color: #fff;
}

// メインコンテンツレイアウト
.l-main {
  min-height: calc(100vh - 60px);
  margin-top: 60px; // ヘッダーの高さ分
}

// フッターレイアウト
.l-footer {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #333;
}

// コンテナレイアウト
.l-container {
  max-width: $inner;
  margin: 0 auto;
  padding: 0 $padding-sp;

  @include mq("md") {
    padding: 0 $padding-pc;
  }
}