@forward "./p-about";
@forward "./p-campaign";
@forward "./p-campaign-details";
@forward "./p-crew";
@forward "./p-gallery";
@forward "./p-experience";
@forward "./p-features";
@forward "./p-footer";
@forward "./p-fv";
@forward "./p-offer";
@forward "./p-offer-details";
@forward "./p-reason";
@forward "./p-result";
@forward "./p-scroll-indicator";
@forward "./p-sticky-footer";
@forward "./p-voice";
@forward "./p-join";
@forward "./p-locations";
@forward "./p-cta-fixed";

