@use "../../foundation/variables" as *;
@use "../../foundation/functions" as *;
@use "../../foundation/mixin" as *;

.p-about {
  background-color: $white;
  padding: 90px 0 ;

  @media (width <= 375px) {
    padding: prem(90) 0;
  }
}

.p-about__inner {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.p-about__title {
  text-align: center;
}

.p-about__title-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}

.p-about__content {
  margin-top: 40px;

  @media (width <= 375px) {
    margin-top: prem(40);
  }
}

.p-about__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: $font-weight-b;
  color: $main-green;

  @media (width <= 375px) {
    font-size: prem(20);
  }
}

.p-about__subtitle-large {
  margin: 8px 0 0;
  font-size: 28px;
  font-weight: $font-weight-b;
  color: $main-green;

  @media (width <= 375px) {
    margin: prem(8) 0 0;
    font-size: prem(28);
  }
}

.p-about__text {
  margin-top: 10px;

  @media (width <= 375px) {
    margin-top: prem(10);
  }
}

.p-about__text p {
  margin: 0;
  font-size: 15px;
  font-weight: $font-weight-m;
  line-height: 2;
  color: $main-green;

  @media (width <= 375px) {
    font-size: prem(15);
  }
}

.p-about__img {
  width: 100%;
  margin-top: 32px;

  @media (width <= 375px) {
    margin-top: prem(32);
  }
}

.p-about__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 360/486;
  object-fit: cover;
}