@use "../../foundation/variables" as *;
@use "../../foundation/functions" as *;
@use "../../foundation/mixin" as *;

.p-campaign-details {
  position: relative;
  padding: 40px 20px;
  background-color: $main-green;

  @media (width <= 375px) {
    padding: prem(40) prem(20);
  }
}

.p-campaign-details__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p-campaign-details__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p-campaign-details__copy-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
