@use '../../foundation' as *;

// お問い合わせセクション
.p-contact {
  width: 100%;
  padding: prem(160) 0 prem(200);
  background-color: $bg-beige;
  overflow: hidden;

  @include mq("md") {
    padding: prem(60) 0;
  }

  @include mq("sm") {
    padding: prem(40) 0;
  }
}

.p-contact__title {
  position: relative;
  z-index: 1;
  text-align: center;
}

.p-contact__title::after {
  position: absolute;
  top: 50%;
  left: 75%;
  z-index: 0;
  width: 59vw;
  max-width: prem(535);
  height: prem(133);
  background-image: var(--title-bg-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  content: '';

  @include mq("md") {
    left: 72%;
    width: 64.8vw;
    height: prem(124);
  }

  @include mq("sm") {
    left: 75%;
    height: prem(56);
  }
}

.p-contact__form {
  margin-top: prem(60);
  margin-right: auto;
  margin-left: auto;
  padding: prem(60);
  border-radius: prem(20);
  background-color: $color-white;

  @include mq("lg") {
    max-width: prem(800);
    padding: prem(40);
  }

  @include mq("md") {
    margin-top: prem(40);
    padding: prem(30);
    border-radius: prem(15);
  }

  @include mq("sm") {
    padding: prem(20);
  }
}

.p-contact__form-placeholder {
  font-size: prem(14);
  text-align: center;
  color: #999;
}

