@use '../../foundation' as *;

// よくあるご質問セクション
.p-faq {
  width: 100%;
  padding: prem(90) 0 prem(120);
  overflow: hidden;

  @include mq("md") {
    padding: prem(60) 0;
  }

  @include mq("sm") {
    padding: prem(40) 0;
  }
}

.p-faq__inner {
  overflow: visible;
}

.p-faq__title {
  position: relative;
  text-align: center;
  overflow: visible;
}

.p-faq__title::after {
  position: absolute;
  top: 50%;
  left: prem(400);
  z-index: -1;
  width: 59vw;
  max-width: prem(1137);
  height: prem(141);
  background-image: var(--title-bg-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  content: '';

  @include mq("md") {
    left: 67%;
    width: 137vw;
    height: prem(124);
  }

  @include mq("sm") {
    height: prem(64);
  }
}

.p-faq__content {
  margin-top: prem(60);

  @include mq("md") {
    margin-top: prem(40);
  }
}

.p-faq__content-item:not(:first-child) {
  margin-top: prem(30);

  @include mq("md") {
    margin-top: prem(20);
  }
}

.p-faq__content-item-title {
  display: flex;
  align-items: center;
  gap: prem(20);
  padding: prem(40) prem(60);
  border-radius: prem(17);
  background-color: $color-white;
  cursor: pointer;
  transition: border-radius 0.4s ease;

  @include mq("md") {
    gap: prem(8);
    padding: prem(30) ;
  }
}

.p-faq__content-item--open .p-faq__content-item-title {
  border-radius: prem(17) prem(17) 0 0;
}

.p-faq__content-item-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.p-faq__content-item-label img {
  display: block;
  width: auto;
  height: prem(48);
  object-fit: contain;

  @include mq("md") {
    height: prem(30);
  }
}

.p-faq__content-item-title-text {
  flex: 1;
  font-size: prem(20);
  font-weight: $medium;
  color: $text-black;

  @include mq("md") {
    font-size: prem(16);
  }
}

.p-faq__content-item-title-icon {
  position: relative;
  width: prem(48);
  height: prem(48);
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-shrink: 0;

  @include mq("md") {
    width: prem(40);
    height: prem(40);
  }

  @include mq("md") {
    width: prem(28);
    height: prem(28);
  }
}

.p-faq__content-item-title-icon:hover {
  opacity: 0.8;
}

.p-faq__content-item-title-icon-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 3px;
  background-color: $main-green;
  transition: opacity 0.3s ease;
  transform: translate(-50%, -50%);

  @include mq("md") {
    width: 16px;
    height: 2.5px;
  }
}

.p-faq__content-item-title-icon-line::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 20px;
  background-color: $main-green;
  transition: opacity 0.3s ease;
  transform: translate(-50%, -50%);
  content: "";

  @include mq("md") {
    height: 16px;
  }
}

.p-faq__content-item--open .p-faq__content-item-title-icon-line::before {
  opacity: 0;
}

.p-faq__content-item-answer {
  display: flex;
  align-items: center;
  gap: prem(20);
  max-height: 0;
  padding: 0 prem(20);
  border-radius: 0 0 prem(17) prem(17);
  background-color: $color-white;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.4s ease;

  @include mq("md") {
    align-items: flex-start;
    gap: prem(10);
    padding: 0 prem(16);
  }
}

.p-faq__content-item--open .p-faq__content-item-answer {
  max-height: 500px;
  padding: 0 prem(128) prem(40) prem(60);
  opacity: 1;

  @include mq("md") {
    padding: 0 prem(78) prem(30) prem(30);
  }
}

.p-faq__content-item-answer .p-faq__content-item-label {
  margin-top: prem(5);
}

.p-faq__content-item-answer-text {
  flex: 1;
  font-size: prem(16);
  line-height: 1.8;
  color: $text-black;

  @include mq("md") {
    font-size: prem(15);
  }
}

.p-faq__content-item-answer-text-bold {
  font-weight: $bold;
  color: $main-green;
}
