@use '../../foundation' as *;

// フッター
.p-footer {
  width: 100%;
  padding: 30px 0;
  background-color: $main-green;

  @media (width <= 375px) {
    padding: prem(30) 0;
  }

  @include mq("md") {
    padding: 20px 0;

    @media (width <= 375px) {
    padding: prem(20) 0;
    }
  }
}

.p-footer__copyright {
  text-align: center;
  color: $white;

  small {
    font-size: 14px;
    font-weight: $regular;
    color: $white;

    @media (width <= 375px) {
      font-size: prem(14);
    }

    @include mq("md") {
      font-size: 13px;

      @media (width <= 375px) {
      font-size: prem(13);
      }
    }
  }
}
