@use '../../foundation' as *;

// フッター
.p-footer {
  width: 100%;
  padding: 80px 20px 114px;
  background-color: $dark-green-2;

  @media (width <= 375px) {
    padding: prem(80) prem(20) prem(48);
  }
}

.p-footer__inner {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.p-footer__logo {
  margin-bottom: 80px;
  text-align: center;

  @media (width <= 375px) {
    margin-bottom: prem(80);
  }
}

.p-footer__logo-img {
  display: inline-block;
  width: auto;
  height: 40px;
  filter: brightness(0) invert(1);

  @media (width <= 375px) {
    height: prem(40);
  }
}

.p-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: $font-weight-r;
  color: $white;

  @media (width <= 375px) {
    font-size: prem(14);
  }
}

.p-footer__pagetop {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: $font-weight-b;
  text-decoration: none;
  color: $white;
  transition: opacity 0.3s ease;

  @media (width <= 375px) {
    gap: prem(8);
    font-size: prem(14);
  }

  &:hover {
    opacity: 0.7;
  }
}

.p-footer__pagetop-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: $font-weight-b;
  color: $main-green;
  background-color: $white;
  transform: rotate(-90deg);

  @media (width <= 375px) {
    width: prem(32);
    height: prem(32);
    font-size: prem(18);
  }
}
