@use '../../foundation' as *;

// フッター
.p-footer {
  width: 100%;
  padding: 46px 30px 114px;
  background-color: $dark-green-2;

  @media (width <= 375px) {
    padding: prem(46) prem(30) prem(48);
  }
}

.p-footer__inner {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.p-footer__logo {
  margin-bottom: 52px;
  text-align: center;

  @media (width <= 375px) {
    margin-bottom: prem(52);
  }
}

.p-footer__logo-img {
  display: inline-block;
  width: auto;
  max-width: 172px;

  @media (width <= 375px) {
    max-width: prem(172);
  }
}

.p-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: $font-weight-r;
  color: $white;

  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: 9.84px;
  }

  @media (width <= 375px) {
    font-size: prem(14);
  }
}

.p-footer__pagetop {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: $font-weight-b;
  text-decoration: none;
  color: $white;
  transition: opacity 0.3s ease;

  @media (width <= 375px) {
    gap: prem(8);
    font-size: prem(14);
  }

  &:hover {
    opacity: 0.7;
  }
}

.p-footer__pagetop-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);

  @media (width <= 375px) {
    width: prem(20);
    height: prem(20);
  }
}

.p-footer__pagetop-icon-img {
  display: block;
  width: 100%;
  height: auto;
}
