@use '../../foundation' as *;

// ========================================
// ファーストビュー
// ========================================
.p-fv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(100vh, 650px);
  background: transparent;
}

.p-fv__content {
  position: fixed;
  top: 185px;
  left: 50%;
  z-index: 0;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);

  @media (width <= 375px) {
    padding: 0 prem(20);
  }
}

.p-fv__title {
  margin: 0;
}

.p-fv__title-img {
  width: 221px;
  height: auto;
  filter: drop-shadow(2px 2px 8px rgb(0 0 0 / 30%));

  @include mq("md") {
    max-width: 240px;
  }
}
