@use '../../foundation' as *;

// FVセクション
.p-fv {
  position: relative;
  width: 100%;
  height: clamp(prem(600), 75vh, prem(750));
  margin-top: prem(120);
  overflow: hidden;

  @include mq("xl") {
    min-height: prem(600);
    overflow: visible;
  }

  @include mq("lg") {
    height: clamp(prem(700), 63vh, prem(700));
  }

  @include mq("md") {
    height: 95vh;
    min-height: prem(900);
    max-height: 100%;
    margin-top: prem(60);
    padding: prem(20);
    overflow: visible;
  }

  @include mq("sm") {
    height: prem(750);
    min-height: 100%;
    max-height: 100%;
  }
}

.p-fv__bg {
  position: relative;
  z-index: 0;
  width: clamp(67.5rem, -7.500rem + 100vw, 112.5rem);
  height: clamp(prem(500), 63vh, prem(750));
  max-height: prem(650);
  margin-left: auto;
  border-radius: prem(40) 0 0 prem(40);
  overflow: hidden;

  @include mq("lg") {
    min-height: prem(500);
    max-height: prem(650);
  }

  @include mq("md") {
    width: 100%;
    height: 100%;
    min-height: prem(900);
    max-height: prem(1000);
    border-radius: prem(30);
  }

  @include mq("sm") {
    height: prem(600);
    min-height: 100%;
  }
}

.p-fv__bg picture {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: prem(40) 0 0 prem(40);

  @include mq("md") {
    border-radius: 0;
  }
}

.p-fv__bg-img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: prem(750);
  border-radius: prem(40) 0 0 prem(40);
  object-fit: cover;

  @include mq("lg") {
    max-height: prem(800);
  }

  @include mq("md") {
    max-height: none;
    border-radius: 0;
    object-position: top;
  }
}


.p-fv__inner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: clamp(prem(700), 90vh, prem(900));

  @include mq("xl") {
    min-height: clamp(prem(748), 90vh, prem(964));
  }

  @include mq("lg") {
    min-height: prem(900);
  }

  @include mq("md") {
    min-height: prem(730);
  }
}