@use '../../foundation' as *;

// md-show: 768px以上で表示、768px未満で非表示
.md-show {
  display: none;

  @include mq("md") {
    display: block;
  }
}

.sm-show {
  display: none;

  @include mq("sm") {
    display: block;
  }
}

// md-none: 768px未満で表示、768px以上で非表示
.md-none {
  display: block;

  @include mq("md") {
    display: none;
  }
}

