@use '../../foundation' as *;

// マージン
.u-mt-0 {
  margin-top: 0;
}

.u-mt-1 {
  margin-top: 10px;
}

.u-mt-2 {
  margin-top: 20px;
}

.u-mt-3 {
  margin-top: 30px;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-1 {
  margin-bottom: 10px;
}

.u-mb-2 {
  margin-bottom: 20px;
}

.u-mb-3 {
  margin-bottom: 30px;
}

// パディング
.u-pt-1 {
  padding-top: 10px;
}

.u-pt-2 {
  padding-top: 20px;
}

.u-pt-3 {
  padding-top: 30px;
}

.u-pb-1 {
  padding-bottom: 10px;
}

.u-pb-2 {
  padding-bottom: 20px;
}

.u-pb-3 {
  padding-bottom: 30px;
}

// テキスト
.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-bold {
  font-weight: $bold;
}

.u-text-normal {
  font-weight: $regular;
}

// 表示/非表示
.u-hidden {
  display: none;
}

.u-hidden-sp {
  @include mq("md") {
    display: none;
  }
}

.u-hidden-pc {
  @media (width >=768px) {
    display: none;
  }
}

// md-show: 768px以上で表示、768px未満で非表示
.md-show {
  display: none;

  @include mq("md") {
    display: block;
  }
}

// md-none: 768px未満で表示、768px以上で非表示
.md-none {
  display: block;

  @include mq("md") {
    display: none;
  }
}

// フレックス
.u-flex {
  display: flex;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
